/* os elementos funcionam como caixas, tendo margin = margem externa, border = borda e padding = margem interna */
p {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}
/* block são elementos que ocupam a linha inteira apenas com eles, não podendo ter mais do que um */
.block {
    display: block;
}
/* inline são elementos que ficam em sequência, como textos um ao lado do outro numa linha */
.in-line {
    display: inline-block;
}
/* é possível misturar o inline e block, para deixar os elementos em sequência mas poder controlar suar margens */
.display-block {
    display: block;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
}

.display-inline {
    display: inline;
    background-color: green;
    border: 1px solid black;
}

.display-inline-block {
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
    margin-top: 30px;
}