body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-flutuante {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.subtitulo {
    clear: both;
}

.header {
    background-color: yellow;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border: solid 1px #000;
    padding: 10px;
    font-size: 20px;
}

.relativo {
    position: relative;
    height: 100px;
    background-color: blue;
}

.absoluto {
    position: absolute;
    height: 50px;
    background-color: red;
    bottom: 0px;
    right: 10px;
    width: 20px;
}

.fixed {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
}