.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

.header{
    background-color: darkgray;
    padding: 20px;
    grid-column: 1 / -1;
}

.sidebar{
    background-color: gray;
    padding: 20px;
}

.content{
    background-color: white;
    padding: 20px;
}